# Ignore everything
*

# Except these files
!publish/PowerSupplyGui.exe
!foto.png
!DC-Typec cable.png
!DP100 Digital Power Supply User manual V1.3.pdf
!DP100_V1.5.atk
!video.mp4
!README.md
!LICENSE
!.gitignore
